name: Terraform PR (Lint)

on:
  pull_request:
    branches: [ "main" ]
    types: [ opened, reopened, ready_for_review, synchronize ]

permissions:
  contents: read

env:
  TF_DIR: terraform/01-s3-bucket

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5
      - name: terraform fmt (check)
        run: terraform fmt -check -recursive -diff
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.51.1
      - name: tflint --init
        working-directory: ${{ env.TF_DIR }}
        run: tflint --init
      - name: tflint
        working-directory: ${{ env.TF_DIR }}
        run: tflint -f compact
